@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: 'Noto Sans', sans-serif;
}
.coreImg{
    background-image: url('./assets/images/edfo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
